* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
nav {
  text-align: start;
}
body {
  text-align: center;
}
.dark {
  background-color: #aaa;
}
.light {
  background-color: #ddd;
}
.same-height {
  height: 70px;
}

.title {
  font-weight: bold;
}