* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
nav {
  text-align: start;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
}
#nav-menu {
  margin-top:70px;
}
body {
  text-align: center;
}
.dark {
  background-color: #aaa;
}
.light {
  background-color: #ddd;
}
.same-height {
  height: 70px;
}
.nav-content {
  margin-right: 50px;
}
#creator-name {
  margin-top: auto;
  margin-bottom: auto;
}
.title {
  font-weight: bold;
}
#big-screen-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  img {
    width: 40%;
  }
}
@media screen and (min-width: 1100px) {
  #big-screen-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    
  }
  #hamburger-button, #nav-menu {
    display: none;
  }
  h1 {
    margin-top: 70px;
  }
}


/*color styles*/
#bio-nav, h2 {
  color: teal;
}
#portfolio-nav, h3 {
  color: rgb(237, 66, 36)
}
#contact-nav {
  color: yellow;
}